@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

body {
  min-height: 100vh;
  background: linear-gradient(#051f30, #000000);
}

.menu::-webkit-scrollbar {
  display: none;
}

ul {
  padding: 0;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 85px;
  height: 100%;
  transition: .3s;
  scrollbar-width: none;
  overflow: hidden scroll;
  background: #ffffff12;
  -ms-overflow-style: none;
  backdrop-filter: blur(5px);
  box-shadow: 8px 0px 9px 0px #00000014;
}

.menu:hover {
  width: 260px;
}

.menu:hover li span:nth-child(2) {
  display: block;
}

.menu-content li {
  list-style: none;
  border-radius: 0px 50px 50px 0;
  transition: .3s;
  margin-bottom: 20px;
  padding-left: 20px;
}

.menu-content li:hover {
  background: #0c0c0c;
}

.menu-content li span:nth-child(2) {
  display: none;
}

a {
  text-decoration: none;
  color: rgb(213, 213, 213);
  display: flex;
  align-items: center;
  font-family: 'calibri';
}

.material-symbols-outlined {
  padding: 10px;
  font-size: 25px;
  margin-right: 10px;
  border-radius: 50%;
  background: #0c0c0c;
}