@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

body {
  min-height: 100vh;
  /* background: linear-gradient(to right, #2A3D66, #121212); */
  background: linear-gradient(to right, #2A7FBA, #121246);
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/*Boutons Appelez-nous */
.cta-floating {
  position: fixed;
  top: 20px;
  right: 25px;
  background-color: #f05f06;
  color: white;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.cta-floating:hover {
  transform: scale(1.1);
  background-color: #ffae00;
  box-shadow: black 1px 1px 5px;
}

/* Div notif c'est copié */
#copyNotification {
  display: none;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(76, 175, 80, 0.95);
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  white-space: nowrap;
}

/* Boutons suivant/precedent */

.navigation-buttons {
  position: fixed;
  bottom: 20px;
  left: 53%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  z-index: 1000;
}

.navigation-buttons button {
  background-color: #f05f06;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
}

.navigation-buttons button:hover {
  background-color: #ffae00;
  box-shadow: black 1px 1px 5px;
}


/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* MENU DU COTE (si jamais couleur brique #A63E2F) */
.menu::-webkit-scrollbar {
  display: none;
}

.menu-content hr {
  border: none;
  height: 1px;
  background: linear-gradient(to right, transparent, yellow, transparent);
  margin: 15px 0;
}

h1,
h2 {
  color: #f05f06;
}

hr {
  border: none;
  height: 1px;
  background: linear-gradient(to right, transparent, yellow, transparent);
  margin: 15px 0;
}

ul {
  padding: 0;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 85px;
  height: 100%;
  transition: .3s;
  scrollbar-width: none;
  overflow: hidden scroll;
  background: #ffffff12;
  -ms-overflow-style: none;
  backdrop-filter: blur(5px);
  box-shadow: 8px 0px 9px 0px #00000025;
  z-index: 10;
}

.menu:hover {
  width: 260px;
}

.menu:hover li span:nth-child(2) {
  display: block;
}

.menu-content li {
  list-style: none;
  border-radius: 0px 50px 50px 0;
  transition: .3s;
  margin-bottom: 15px;
  padding-left: 20px;
  margin-top: 15px;
}

.menu-content li:hover {
  background: #f05f06;
}

.menu-content li span:nth-child(2) {
  display: none;
}

a {
  text-decoration: none;
  color: rgb(213, 213, 213);
  display: flex;
  align-items: center;
  font-family: 'calibri';
}

.material-symbols-outlined {
  padding: 10px;
  font-size: 25px;
  margin-right: 10px;
  border-radius: 50%;
  background: #f05f06;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
.content {
  display: none;
  /* Caché par défaut */
  margin-left: 100px;
  margin-right: 10px;
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.content.active {
  display: block;
  /* Afficher uniquement l'élément actif */
  opacity: 1;
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
#Acceuil {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.568), rgba(0, 0, 0, -0.5)),
    url('../images/home.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  color: white;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
.flex-item-gauche,
.flex-item-droite {
  flex: none;
  /* Chaque élément prendra toute la largeur */
  margin-bottom: 20px;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* style pour la section horaires */
.flex-container-2 {
  display: flex;
  padding: 20px;
  text-align: center;
  flex-direction: row;
  text-align: center;
}

@media (max-width: 800px) {
  .flex-container-2 {
    flex-direction: column;
  }
}

.flex-item-droite {
  padding: 10px;
  flex: 1;
  box-sizing: border-box;
}

.flex-item-gauche {
  padding: 10px;
  flex: 2;
  box-sizing: border-box;
}

.horaire-section {
  flex: 2;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image-section img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.horaire-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.horaire-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 12px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.horaire-list li:hover {
  background-color: #e0f7fa;
  transform: scale(1.02);
  cursor: pointer;
}

.horaire-list i {
  margin-right: 10px;
  font-size: 20px;
  color: green;
}

.horaire-list li.ferme i {
  color: red;
}

.horaire-list strong {
  font-weight: bold;
  margin-right: 10px;
  color: black;
}

.horaire-list .horaire {
  color: black;
  font-weight: bold;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  padding: 10px;
  flex: 1;
  box-sizing: border-box;
}

.flex-item-center {
  padding: 10px;
  flex: 1;
  font-size: 25px;
  box-sizing: border-box;
}

.flex-item-right {
  padding: 10px;
  flex: 1;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* Style pour les icônes de réseaux sociaux */
.social-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.social-icon {
  text-decoration: none;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s;
}

#Acceuil>div.social-buttons>a:nth-child(2):hover {
  color: #0866ff;
}

#Acceuil>div.social-buttons>a:nth-child(1):hover {
  background: linear-gradient(to right, #f9ce34, #ee2a7b, #6228d7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-icon i {
  font-size: 35px;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* Style pour la section contact */
#Contact>div>div.flex-item-droite>div>a:nth-child(1):hover {
  background: linear-gradient(to right, #f9ce34, #ee2a7b, #6228d7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#Contact>div>div.flex-item-droite>div>a:nth-child(2):hover {
  color: #0866ff;
}

/* formulaire de contact */

input[type=text],
input[type=email],
input[type=tel],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none;
}

input[type=submit] {
  background-color: #0d6efd;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  background-color: #f05f06;
}

#formContact>label {
  color: black;
  font-size: 20px;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  z-index: 1;
}

.mySlides img,
.mySlides2 img,
.mySlides3 img,
.mySlides4 img {
  height: 300px;
  object-fit: cover;
  object-position: center 75%;
  border-radius: 10px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.493);
}

.mySlides img:hover,
.mySlides2 img:hover,
.mySlides3 img:hover,
.mySlides4 img:hover {
  cursor: pointer;
}

#Isolation>div>div.flex-item-droite>p,
#PVC>div>div.flex-item-droite>p {
  padding: 10px;
  flex: 1;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

/* Next & previous buttons */
.prev,
.prev2,
.prev3,
.prev4,
.next,
.next2,
.next3,
.next4 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next,
.next2,
.next3,
.next4 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover,
.prev2:hover,
.next2:hover,
.prev3:hover,
.next3:hover,
.prev4:hover,
.next4:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext,
.numbertext2,
.numbertext3,
.numbertext4 {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot,
.dot2,
.dot3,
.dot4 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: transparent;
}

.dot,
.dot:hover,
.dot2,
.dot2:hover,
.dot3,
.dot3:hover,
.dot4,
.dot4:hover {
  background-color: #f05f06;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* Section grille photos */
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%;
  flex: 20%;
  padding: 0 4px;
  max-width: calc(25% - 4px);
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  object-fit: cover;
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.column img:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  cursor: pointer;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.699);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 20%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 50%;
    max-width: 100%;
  }
}