@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

body {
  min-height: 100vh;
  background: linear-gradient(to right, #2A7FBA, #121246);
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* Orientation Paysage */
#rotate-alert {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 14px;
  z-index: 9999;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/*Boutons Appelez-nous */
.cta-floating {
  position: fixed;
  top: 20px;
  right: 25px;
  background-color: #f05f06;
  color: white;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.cta-floating:hover {
  transform: scale(1.1);
  background-color: #ffae00;
  box-shadow: black 1px 1px 5px;
}

/* Div notif c'est copié */
#copyNotification,
#copyNotification2 {
  display: none;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(76, 175, 80, 0.95);
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  white-space: nowrap;
}

/* Boutons suivant/precedent */

.navigation-buttons {
  position: fixed;
  bottom: 20px;
  left: 53%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  z-index: 1000;
}

.navigation-buttons button {
  background-color: #f05f06;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
}

.navigation-buttons button:hover {
  background-color: #ffae00;
  box-shadow: black 1px 1px 5px;
}


/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* MENU DU COTE */
.menu::-webkit-scrollbar {
  display: none;
}

.menu-content hr {
  border: none;
  height: 1px;
  background: linear-gradient(to right, transparent, yellow, transparent);
  margin: 15px 0;
}

h1,
h2,
h3 {
  color: #f05f06;
}

hr {
  border: none;
  height: 1px;
  background: linear-gradient(to right, transparent, yellow, transparent);
  margin: 15px 0;
}

ul {
  padding: 0;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 85px;
  height: 100%;
  transition: .3s;
  scrollbar-width: none;
  overflow: hidden scroll;
  background: #ffffff12;
  -ms-overflow-style: none;
  backdrop-filter: blur(5px);
  box-shadow: 8px 0px 9px 0px #00000025;
  z-index: 10;
}

.menu:hover {
  width: 260px;
}

.menu:hover li span:nth-child(2) {
  display: block;
}

.menu-content li {
  list-style: none;
  border-radius: 0px 50px 50px 0;
  transition: .3s;
  margin-bottom: 15px;
  padding-left: 20px;
  margin-top: 15px;
}

.menu-content li:hover {
  background: #f05f06;
}

.menu-content li span:nth-child(2) {
  display: none;
}

a {
  text-decoration: none;
  color: rgb(213, 213, 213);
  display: flex;
  align-items: center;
  font-family: 'calibri';
}

.material-symbols-outlined {
  padding: 10px;
  font-size: 25px;
  margin-right: 10px;
  border-radius: 50%;
  background: #f05f06;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
.content {
  display: none;
  /* Caché par défaut */
  margin-left: 100px;
  margin-right: 10px;
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.content.active {
  display: block;
  /* Afficher uniquement l'élément actif */
  opacity: 1;
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
#Acceuil {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.568), rgba(0, 0, 0, -0.5)),
    url('../images/home.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  color: white;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
.flex-item-gauche,
.flex-item-droite {
  flex: none;
  /* Chaque élément prendra toute la largeur */
  margin-bottom: 20px;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* style pour la section horaires */
.flex-container-2 {
  display: flex;
  padding: 20px;
  text-align: center;
  flex-direction: row;
  text-align: center;
}

@media (max-width: 800px) {
  .flex-container-2 {
    flex-direction: column;
  }
}

.flex-item-droite {
  padding: 10px;
  flex: 1;
  box-sizing: border-box;
}

.flex-item-gauche {
  padding: 10px;
  flex: 2;
  box-sizing: border-box;
}

.horaire-section {
  flex: 2;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image-section img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.horaire-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.horaire-list li {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 12px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.horaire-list li:hover {
  background-color: #e0f7fa;
  transform: scale(1.02);
  cursor: pointer;
}

.horaire-list i {
  margin-right: 10px;
  font-size: 20px;
  color: green;
}

.horaire-list li.ferme i {
  color: red;
}

.horaire-list strong {
  font-weight: bold;
  margin-right: 10px;
  color: black;
}

.horaire-list .horaire {
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .horaire-list li {
    font-size: 14px;
    padding: 8px;
    flex-direction: row;
    align-items: flex-start;
  }

  .horaire-list li strong {
    font-size: 13px;
  }
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  padding: 10px;
  flex: 1;
  box-sizing: border-box;
}

.flex-item-center {
  padding: 10px;
  flex: 1;
  font-size: 25px;
  box-sizing: border-box;
}

.flex-item-right {
  padding: 10px;
  flex: 1;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {

  .flex-item-left img,
  .flex-item-right img {
    max-width: 150px;
    width: 100%;
  }
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* Style pour les icônes de réseaux sociaux */
.social-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .social-buttons {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .social-buttons a {
    text-align: center;
  }
}

.social-icon {
  text-decoration: none;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s;
}

#Acceuil>div.social-buttons>a:nth-child(2):hover {
  color: #0866ff;
}

#Acceuil>div.social-buttons>a:nth-child(1):hover {
  background: linear-gradient(to right, #f9ce34, #ee2a7b, #6228d7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-icon i {
  font-size: 35px;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* Style pour la section contact */
#Contact>div>div.flex-item-droite>div>a:nth-child(1):hover {
  background: linear-gradient(to right, #f9ce34, #ee2a7b, #6228d7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#Contact>div>div.flex-item-droite>div>a:nth-child(2):hover {
  color: #0866ff;
}

#email {
  display: block;
  max-width: 100%;
  text-align: center;
  word-break: break-word;
  white-space: normal;
  padding: 10px 0;
}

/* formulaire de contact */

input[type=text],
input[type=email],
input[type=tel],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none;
}

input[type=submit] {
  background-color: #0d6efd;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  background-color: #f05f06;
}

#formContact>label {
  color: black;
  font-size: 20px;
}

.map-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  z-index: 1;
}

.mySlides img,
.mySlides2 img {
  height: 300px;
  object-fit: cover;
  object-position: center 75%;
  border-radius: 10px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.493);
}

.mySlides img:hover,
.mySlides2 img:hover {
  cursor: pointer;
}

#PVC>div>div.flex-item-droite>p {
  padding: 10px;
  flex: 1;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

/* Next & previous buttons */
.prev,
.prev2,
.next,
.next2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next,
.next2 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover,
.prev2:hover,
.next2:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext,
.numbertext2 {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot,
.dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: transparent;
}

.dot,
.dot:hover,
.dot2,
.dot2:hover {
  background-color: #f05f06;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* Section grille photos */
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%;
  flex: 20%;
  padding: 0 4px;
  max-width: calc(25% - 4px);
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  object-fit: cover;
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.column img:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  cursor: pointer;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.699);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 20%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 50%;
    max-width: 100%;
  }
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* Section timeline */
#Isolation,
#Isolation * {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.time_content_left {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 20px 30px;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
}

.time_content_right {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: left;
  padding: 20px 30px;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
}

.time_content_left:hover,
.time_content_right:hover {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.493);
}

.image-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 100%;
  margin-top: 10x;

}

.timeline-img {
  max-width: 150px;
  height: auto;
  border-radius: 8px;
  transition: transform 0.5s;
}

.timeline-img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.5s;
}

.timeline-text {
  color: black;
  max-width: 300px;
  text-align: left;
}

.check-icon {
  font-size: 20px;
  margin-right: 8px;
  vertical-align: middle;
  color: red;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  border-radius: 10px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #f05f06;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  margin-left: 3px;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -19px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 700px) {

  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }

  .image-text {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .timeline-text {
    max-width: 100%;
  }
}

/* Pour les écrans jusqu'à 800px */
@media screen and (max-width: 900px) {
  .container {
    padding-left: 30px;
    padding-right: 20px;
  }

  .image-text {
    gap: 15px;
  }
}

/* Pour les écrans jusqu'à 700px */
@media screen and (max-width: 800px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .image-text {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .timeline-text {
    max-width: 100%;
  }

  .timeline {
    font-size: 14px;
  }
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* Section zinguerie */
#Zinguerie,
#Zinguerie * {
  box-sizing: border-box;
}

#Zinguerie>h3 {
  text-shadow: black 1px 1px 5px;
}

.column_zinguerie {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row_zinguerie::after {
  content: "";
  clear: both;
  display: table;
}

.row_zinguerie img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.5s;
  height: 200px;
  object-fit: cover;
}

#Zinguerie img:hover {
  cursor: pointer;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.493);
  transform: scale(1.05);
  transition: transform 0.5s;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column_zinguerie {
    width: 100%;
  }
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* Section couverture */
#Couverture,
#Couverture * {
  box-sizing: border-box;
}

#Couverture>h3 {
  text-shadow: black 1px 1px 5px;
}

.column_couverture {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row_couverture::after {
  content: "";
  clear: both;
  display: table;
}

.row_couverture img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.5s;
  height: 200px;
  object-fit: cover;
}

#Couverture img:hover {
  cursor: pointer;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.493);
  transform: scale(1.05);
  transition: transform 0.5s;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column_couverture {
    width: 100%;
  }
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* Section entretien */
.comparison-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.image-comparison {
  max-width: 450px;
  margin: 20px auto;
  border-radius: 20px;
  overflow: hidden;
}

.image-comparison img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.image-comparison .images-container {
  position: relative;
  display: flex;
}

.image-comparison .images-container .before-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: inset(0 50% 0 0);
}

.image-comparison .slider {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

.image-comparison .slider-line {
  position: absolute;
  height: 100%;
  width: 4px;
  background: white;
  left: 50%;
  transform: translateX(-50%);
}

.image-comparison .slider-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  color: #fff;
  transform: translate(-50%, -50%) rotateZ(90deg);
}

#Entretien>p {
  font-size: 20px;
  font-weight: bold;
}

.liste-nettoyage {
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin-left: 20px;
}

.detail {
  margin-left: 20px;
  font-size: 17px;
}

.logo-entretien {
  display: flex;
  align-items: center;
  gap: 30px;
}

#Entretien>div:nth-child(6)>img {
  width: 65px;
  gap: 10px;
}

.text-container {
  max-width: 500px;
  flex: 1;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .comparison-container {
    flex-direction: column;
    align-items: center;
  }

  .text-container {
    text-align: center;
  }
}